.tododiv {
    height: 100%;
}

.buttons {
    height: 20%;
    padding-top: 35px;
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: calc(50% - 70px);
    height: 100%;
    background-color: #8237cb;
    border-radius: 20px;
    font-family: "Reem Kufi";
    color: white;
    font-size: 50px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 70ms ease-in;
}

.list {
    border-radius: 20px;
    margin: 35px 45px;
    margin-top: calc(20% - 150px);
    background-color: white;
    height: calc(70%);
    padding: 3rem;
    overflow-y: auto;
}

.addtaskbtn::after {
    content: url("/Images/check.png");
    position: absolute;
    right: -210px;
    bottom: 70px;
    transform: scale(25%);
    height: 50px;
    aspect-ratio: 1;
}

.deletetaskbtn::after {
    content: url("/Images/danger.png");
    position: absolute;
    right: -5px;
    transform: scale(120%);
    bottom: -5px;
    height: 100px;
    aspect-ratio: 1;
}

.button:hover {
    transform: scale(103%);
}

.listitem {
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: #d9d9d9;
    border-radius: 9px;
    margin-bottom: 30px;
    position: relative;
    padding-right: 120px;
}

.listitem:last-of-type {
    margin-bottom: 0px;
}

.checktaskbtn {
    padding-bottom: 10px;
    border: 0;
    background-color: green;
    position: absolute;
    right: 50px;
    aspect-ratio: 1;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    border-radius: 50%;
}

.checklogo {
    transform: translateY(-4px);
}

.modal {
    font-size: 12px;
}

.modal>.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal>.content {
    width: 100%;
    padding: 10px 5px;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}